<h1>{{serviceName}}</h1>

<h3>What is {{serviceName}}?</h3>
<p>{{serviceName}} is a service created by FT Labs to help teams across the FT save transient metadata that might be otherwise lost.</p>

<h3>Places to go</h3>
<ul>
	<li><a href="https://github.com/ftlabs/Morar/blob/master/README.md">Read the docs for using {{serviceName}}</a></li>
	<li><a href="/token/generate">Generate a token to use {{serviceName}}</a></li>
	<li><a href="/token/revoke">Revoke a token that's already been created</a></li>
</ul>